@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300400500&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400px;
  line-height: 1;
  background-color: #f7f7f7;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  font: inherit;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 75px;
  padding-right: 75px;
  max-width: 1920px;
  margin: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid black;
  padding: 20px 0px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__login-buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo-text {
  font-size: 30px;
  font-weight: 500;
}

.header__logo-round {
  display: inline-block;
  background-color: #1A65DE;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.header__login-button {
  display: inline-block;
  border: 1px solid #1A65DE;
  padding: 10px 20px;
  border-radius: 10px;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding-top: 20px;
}

.hero__item {
  width: 50%;
}

.hero__button {
  background: #1A65DE;
  color: white;
  font-size: 20px;
}

.hero__image {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__text {
  font-size: 60px;
  padding-bottom: 30px;
}

.hero__text-small {
  padding-bottom: 30px;
  max-width: 70%;
  line-height: 30px;
}

.image {
  width: 100%;
  height: 50%;
  background-image: url(../img/img1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footer {
  background-color: #1A65DE;
  height: 100%;
  padding: 20px 0px;
}

.footer__logo-text {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.footer__logo-round {
  display: inline-block;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.form-header {
  font-size: 40px;
  margin-bottom: 30px;
}

.hero__form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.login__form .form__input {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}

.form__button {
  text-align: center;
  border: 1px solid #1A65DE;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #1A65DE;
  color: white;
  margin-bottom: 10px;
}

.header__logo-round_login-edition {
  width: 8px;
  height: 8px;
  background: white;
  translate: 2px 1px;
}

.hero__go-to-register {
  font-size: 10px;
  text-align: center;
}

.form__password-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password__header {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.password__message {
  font-size: 12px;
  margin-bottom: 5px;
}

.form__group {
  position: relative;
  min-height: 40px;
  margin-bottom: 20px;
}

.form__error-label {
  position: absolute;
  bottom: -10px;
  left: 15px;
  font-size: 10px;
  color: red;
}

.transport__main {
  height: 91vh;
}

.transport__container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.transport__block {
  padding: 70px 30px;
}

.add__block {
  width: 30%;
  border-right: 1px solid #1A65DE;
}

.list__block {
  width: 70%;
}

.transport__add-panel {
  width: 80%;
}

.transport__list-header {
  font-size: 35px;
  margin-bottom: 40px;
}

.transport__header {
  border-bottom: 1px solid #1A65DE;
}

.form__input_transport {
  margin-bottom: 20px;
}

.transport__add {
  width: 120px;
}

.transport__item {
  border: 1px solid #1A65DE;
  border-radius: 20px;
  margin-bottom: 20px;
}

.transport__card-header {
  padding: 10px 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #1A65DE;
}

.transport__logo {
  right: 10px;
  top: 10px;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  border: 1px solid #1A65DE;
}

.transport__driver {
  font-size: 25px;
  color: white;
}

.transport__information {
  padding: 20px;
  display: flex;
}

.information__item:first-child {
  margin-right: 150px;
}

.transport__info {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.info {
  font-weight: normal;
}
