// MAIN SECTION

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300400500&display=swap');

$main-color: #1A65DE

html
    box-sizing: border-box
    height: 100%

*,
*::before,
*::after 
    box-sizing: inherit
    transition: all 2ms easy

body
    height: 100%
    min-width: 320px
    margin: 0
    font-family: Poppins, sans-serif
    font-weight: 400px
    line-height: 1
    background-color: #f7f7f7
    color: #333333

a
    text-decoration: none
    color: inherit

ul
  list-style: none
  padding: 0
  margin: 0


button, input
  font: inherit


h1, h2, h3, p, ul
    padding: 0
    margin: 0


.container
  padding-left: 75px
  padding-right: 75px
  max-width: 1920px
  margin: auto


.visually-hidden
  position: absolute !important
  clip: rect(1px, 1px, 1px, 1px)
  padding: 0 !important
  border: 0 !important
  height: 1px !important
  width: 1px !important
  overflow: hidden

.overlay
    min-height: 100%
    display: flex
    flex-direction: column

main
    flex: 1 1 auto
    min-height: 100%


// START PAGE

.header
    border-bottom: 1px solid black
    padding: 20px 0px

.header__nav
    display: flex
    flex-direction: row
    justify-content: space-between

.header__login-buttons-group
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.header__logo-text
    font-size: 30px
    font-weight: 500

.header__logo-round
    display: inline-block
    background-color: $main-color
    width: 15px
    height: 15px
    border-radius: 50%

.header__login-button
    display: inline-block
    border: 1px solid $main-color
    padding: 10px 20px
    border-radius: 10px

.side__list
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    min-width: 600px
    
.side__item_more-margin
    margin-right: 60px

.link__active
    color: $main-color

.hero__container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 90vh
    padding-top: 20px

.hero__item
    width: 50%

.hero__button
    background: $main-color
    color: white
    font-size: 20px

.hero__image
    height: 100%
    display: flex
    align-items: center

.hero__text
    font-size: 60px
    padding-bottom: 30px 
    
.hero__text-small
    padding-bottom: 30px
    max-width: 70%
    line-height: 30px

.image
    width: 100%
    height: 50%
    display: flex
    align-items: center
    justify-content: center


.main__image
    width: 50%


.footer
    background-color: $main-color
    height: 100%
    padding: 20px 0px

.footer__logo-text
    font-size: 30px
    font-weight: 500
    color: white

.footer__logo-round
    display: inline-block
    background-color: white
    width: 15px
    height: 15px
    border-radius: 50%

//LOGIN PAGE
.form-header
    font-size: 40px
    margin-bottom: 30px
.hero__form
    display: flex
    flex-direction: column
    max-width: 400px
    
.login__form
    .form__input
        margin-bottom: 20px

.form__input
    width: 100%
    border: 1px solid grey
    margin-bottom: 5px
    padding: 10px 15px
    border-radius: 10px
    font-size: 15px

.form__button
    text-align: center
    border: 1px solid $main-color
    padding: 10px 15px
    border-radius: 10px
    font-size: 15px
    background-color: $main-color
    color: white
    margin-bottom: 10px
    

.header__logo-round_login-edition
    width: 8px
    height: 8px
    background: white
    translate: 2px 1px

.hero__go-to-register
    font-size: 10px
    text-align: center

.form__password-block
    display: flex
    flex-direction: column
    margin-bottom: 20px

.password__header
    font-size: 12px
    font-weight: bold
    margin-bottom: 8px

.password__message
    font-size: 12px
    margin-bottom: 5px

.form__group
    position: relative
    min-height: 40px
    margin-bottom: 20px

.form__error-label
    position: absolute
    bottom: -10px
    left: 15px
    font-size: 10px
    color: red

.transport__container
    display: flex
    flex-direction: row
    height: 100%

.transport__block
    padding: 30px 30px 170px

.add__block
    width: 25%
    border-right: 1px solid $main-color
    padding-left: 0px

.list__block
    width: 70%

.transport__list-header
    font-size: 35px
    

.transport__header
    border-bottom: 1px solid $main-color

.transport__add
    width: 120px

.transport__item
    border: 1px solid $main-color
    border-radius: 20px
    margin-bottom: 20px

.transport__card


.transport__information
    padding: 20px
    display: flex
    justify-content: space-between

.transport__info
    font-size: 15px
    font-weight: bold

.transport__info:not(:last-child)
    margin-bottom: 10px    
    
.info
    font-weight: normal

.transport__type-block
    margin-bottom: 20px
    display: flex
    align-items: center

.form__radio
    transform: translateY(-2px)

.trasport__search-bar
    display: flex
    flex-direction: row
    margin-bottom: 40px
    justify-content: space-between

.transport__list-header-margin
    margin-bottom: 40px

.information__item
    display: flex
    flex-direction: column
    justify-content: center

.transport__button
    cursor: pointer
    padding: 5px 10px
    background-color: white
    font-size: 12px
    font-weight: normal
    border: 1px solid $main-color
    border-radius: 7px

// side menu

.orders__block

.orders__menu
    min-width: 220px

.orders__menu-item:not(:first-child)
    cursor: pointer
    margin-bottom: 20px
    transition: all 2ms easy

.orders__menu-item:not(:first-child):hover
    color: $main-color

.order__menu-link

#user
    font-weight: bold


// orders

.orders__block
    width: 100%
    padding: 30px 0px 30px 30px

.orders__menu
    padding-right: 30px
    border-right: 1px solid $main-color
    padding-left: 0px

.orders__header
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 40px
    width: 100%

.orders
    display: none

.active__orders-list
    display: block

.order__cart
    padding: 20px
    border: 1px solid $main-color
    border-radius: 15px
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 20px
    justify-content: space-between
.order__description
    font-weight: bold
.order__direction
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 30%
.order__cargo-block
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 15%

.order__dash
    border: 1px dashed $main-color
    width: 20%
    
.order__id
    font-weight: 300

.order__dates
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 20%
    
.order__type
    font-weight: 300
    margin-right: 10px
.order__cargo
    font-weight: 300

.order__more-info-button
    background-color: white
    border: 1px solid black
    padding: 10px
    border-radius: 10px
    margin-right: 15px
.order__pick-up-button
    background-color: $main-color
    border: none
    color: white
    padding: 10px 10px
    width: 100px
    border-radius: 10px
    margin-right: 15px
.order__buttons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
.container_less-padding
    padding-left: 30px
    padding-right: 30px

.orders__header, .orders__nav-list
    display: flex
    flex-direction: row

.orders__nav-list
    justify-content: space-between
    min-width: 400px